@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

#container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    background-color: rgba(68, 117, 136, 0.548);
}

.card {
    border-radius: 10px;
    width: 300px;
    height: 40%;
    margin: 10px;
    background-color: #f2f2f2;

    box-shadow: -8px 13px 6px rgba(0, 0, 0, 0.3);
}


.card-header img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.card-text {
    padding: 20px;
}

.card-text h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-text p {

    font-size: 14px;
}